{% load static %}

		<footer>
		<div class="left_footer">
			<div class="blockf1">
				<h6>GET IN TOUCH</h6>				
				<br>
				<h6>Polson Park Motel</h6>
				<br>
				<h6>3201 -24th Avenue</h6>
				<br>
				<h6>
					Vernon, BC
				</h6>
				<br>
				 <h5>&copy;2018 <span class="styledtext">Polson Park Motel.</span></h5>
			</div>
			<div class="blockf2">
				<h6>OUR ROOMS</h6>
				<br>
				<h6>Family Spacious Room</h6>
				<br>
				<h6>Room with One Bedroom</h6>
				<br>
				<h6>Double Standard Room</h6>
				<br>
			</div>
		</div>
		<div class="right_footer">
			
		<input type="email" class="signup">
		<input type="button" value ="Sign up!"class="button_sp">
			<br class="divider">
		| <a href="{% url 'polsonpark:index-page' %}">Home</a> 
        | <a href="#">About Us</a> 
        | <a href="#">What We Sell</a>  
        | <a href="#">Gallery</a>  
		| <a href="#">Contact</a>
			|
		<br>
			<img src="{% static 'polsonpark/images/PP_images/social/facebook-logo-sm.png' %}" alt="polsonpark faceboook" class="socialmedia">
			<img src="{% static 'polsonpark/images/PP_images/social/twitter-logo-sm.png' %}" alt="polsonpark twitter" class="socialmedia">
			<img src="{% static 'polsonpark/images/PP_images/social/instagram-logo-sm.png' %}" alt="polsonpark instagram" class="socialmedia">
		</div>
		
    
       
		</footer>