{% extends "polsonpark/base.html" %}
{% load static %}

{% block body %}	

	<div class="container demo-2">

		<!--/ Codrops top bar -->

		<div id="slider" class="sl-slider-wrapper">

			<div class="sl-slider">
				
				<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
					<div class="sl-slide-inner">
						<div class="bg-img bg-img-1"></div>
						<h2>Welcome to Vernon</h2>
						<blockquote><p>Escape to one of the Leading Motels of Vernon where space and stunning architectural design are combined to give you a home away from home.</p><cite>Rana Manan</cite></blockquote>
					</div>
				</div>

				<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
					<div class="sl-slide-inner">
						<div class="bg-img bg-img-2"></div>
						<h2>Travel with style</h2>
						<blockquote><p>The whole object of travel is not to set foot on foreign land; it is at least to set foot on one's own country as a foreign land.</p><cite>G.K. Chesterton</cite></blockquote>
					</div>
				</div>

				<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
					<div class="sl-slide-inner">
						<div class="bg-img bg-img-3"></div>
						<h2>Feel at Home</h2>
						<blockquote><p>All rooms with air conditioner, telephone , bath balcony, and mesmerizing views.</p><cite>What else do you need ?</cite></blockquote>
					</div>
				</div>

				<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
					<div class="sl-slide-inner">
						<div class="bg-img bg-img-4"></div>
						<h2>Family Getaway</h2>
						<blockquote><p>Feel at home and explore a no of beaches and golf courses,or go hiking Vernon has so much to offer. </p><cite>Have A Blast</cite></blockquote>
					</div>
				</div>

				<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
					<div class="sl-slide-inner">
						<div class="bg-img bg-img-5"></div>
						<h2>Natural Luxury</h2>
						<blockquote><p>Stroll down the endless white sand beach, Play golf on two championship golf courses, Explore the mountain trails come back home and savour the most exquisite wines.</p><cite>Ask us about our discount rates</cite></blockquote>
					</div>
				</div>
			</div><!-- /sl-slider -->


			<nav id="nav-dots" class="nav-dots">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</nav>

		</div><!-- /slider-wrapper -->

		<div id="content-wrapper">
			<div class="column">

				<div class="inline-gallery1">
					<img src="{% static 'polsonpark/images/PP_images/motal/try1.jpg' %}" style="width:100%">
					<div class="overlay">Standerd-One King Bed</div>
				</div>
			</div>
			<div class="column">
				<div class="inline-gallery2">
					<img src="{% static 'polsonpark/images/PP_images/motal/try2.jpg' %}" style="width:100%">
					<div class="overlay">VIP -Suites</div>
				</div>
			</div>
			<div class="column">
				<div class="inline-gallery3">
					<img src="{% static 'polsonpark/images/PP_images/motal/try3.jpg' %}" style="width:100%">
					<div class="overlay">Family Special</div>
				</div>

			</div>


			<h3>Why Vernon?</h3>
			<p>There's so much to see and do in Vernon - a little slice of paradise surrounded by lakes, golf courses, hike and bike paths and trails and everything else that the gorgeous Okanagan has to offer.</p>
			<br>
			<h3>Start With A Fresh Burst Of Energy</h3>
			<p>Within the greater Vernon area you'll find Okanagan attractions aplenty: arts, culture, sports, music, incredible restaurants, artisan foods, a bounty of agriculture and lots of celebrations. Pet a goat, build an ice sculpture, learn about bees, explore a farmers' market, swim, fish, kayak, BMX, explore our downtown, roam our parks, discover our back country, relax at a spa, visit a renowned Okanagan winery or, just minutes away, enjoy some of the best downhill and cross-country skiing Canada has to offer.</p>
			<img src="{% static 'polsonpark/images/manan%20copy.jpg' %}" alt="Owner Of Polson Park Motel" class="manan">
			<br>
			<h3> Polson Park</h3>
			<p> Located in the heart of Vernon, BC, the Polson Park Motel offers a central location across the road from beautiful Polson Park. Everything you need is right around the corner and you are only minutes from beaches or a number of golf courses.Yes, our small city packs a big punch when it comes to things to see and do: small-town charm and friendly locals meld with world class amenities, sights and sounds to create a year-round destination. Soak up the warmer months on our sun-drenched beaches, then, when the weather turns chilly, bundle up and head for the hills and a winter wonderland sought after by visitors from around the world. Our story is one of incredible views, sun-soaked summers, champagne powder winters, endless exploration, and people so friendly you'll never want to leave. And don't worry if you don't get to see and do it all, we will always welcome you back again!.
				<span class="custom_text"></span></p>
				<br>


				<ul id="navlist">
					<li ><a id="current">All rooms have air conditioning</a></li>
					<li><a >Courtyard with barbecue</a></li>
					<li><a>Fridges and in room coffee</a></li>
					<li><a >D.D. phones with personal voice mail</a></li>
					<li><a >Free wireless internet</a></li>
					<li><a>Cable TV</a></li>
					<li><a>Senior rates</a></li>
					<li><a>Small pets allowed on approval</a></li>
					<li><a>Walking distance to Vernon Jubilee Hospital</a></li>
					<li><a>Located opposite Polson Park</a></li>
					<li><a>Close to resturants, golf courses and downtown</a></li>
					<li><a>Non smoking and smoking rooms</a></li>
					<li><a>Rooms with 1 or 2 queen size beds</a></li>
					<li><a>Rooms with 2 double beds</a></li>
					<li><a>Kitchenette with 1 queen size or 2 double beds</a></li>
				</ul>
			</div>
        </div>

{% endblock body %}

{% block bodyScripts %}
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'polsonpark/js/jquery.ba-cond.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'polsonpark/js/jquery.slitslider.js' %}"></script>
		<script type="text/javascript">	
			$(function() {
			
				var Page = (function() {

					var $nav = $( '#nav-dots > span' ),
						slitslider = $( '#slider' ).slitslider( {
							onBeforeChange : function( slide, pos ) {

								$nav.removeClass( 'nav-dot-current' );
								$nav.eq( pos ).addClass( 'nav-dot-current' );

							}
						} ),

						init = function() {

							initEvents();
							
						},
						initEvents = function() {

							$nav.each( function( i ) {
							
								$( this ).on( 'click', function( event ) {
									
									var $dot = $( this );
									
									if( !slitslider.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );
									
									}
									
									slitslider.jump( i + 1 );
									return false;
								
								} );
								
							} );

						};

						return { init : init };

				})();

				Page.init();

				
			
			});



		</script>
{% endblock bodyScripts %}