{% extends "polsonpark/base.html" %}
{% load static %}


{% block headLinks %}
	<link rel="stylesheet" type="text/css" href="{% static 'polsonpark/styles/interior.css' %}" />
{% endblock headLinks %}


{% block body %}
	<div id="mySidenav" class="sidenav">
  <a href="#" id="About">About</a>
  <a href="contactus.html" id="Contact">Contact</a>
  <a href="areaguide.html" id="Location">Location</a>
  <a href="rooms.html" id="Room">Rooms</a>
</div>
	<div class="hero-image">
	<img src="{% static 'polsonpark/images/PP_images/motal/area.jpg' %}" alt="Decorative image">
  <div class="hero-text">
    <h1>Our Ex·quis·ite Interior</h1>
	  </div>
	</div>
		<div id="content-wrapper">
			<h2>Enjoy out southern style </h2>
			<br>
			<p>Interior design serve in hospitality and we care about your experience. The scope of work, budgets, and space planning was quite complex, but we managed to come up with new southern style intriors.We particulaly made sure that the interior designers worked  on the  welcoming and pleasing effects and <a href="http://www.olivetreeinteriordesigns.com/" style="color: orange">they</a> were very thoughtfulwith their responsibilities with their design choices.</p>
			<br>
			<div class="row"> 
  <div class="column">
    <img src="{% static 'polsonpark/images/PP_images/interiors/1%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/2%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/3%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/4%20copy.jpg' %}">
	 <img src="{% static 'polsonpark/images/PP_images/interiors/25%20copy.jpg' %}">
   
    <img src="{% static 'polsonpark/images/PP_images/interiors/7%20copy.jpg' %}">
  </div>
  <div class="column">
    <img src="{% static 'polsonpark/images/PP_images/interiors/8%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/9%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/10%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/11%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/12%20copy.jpg' %}">
	  <img src="{% static 'polsonpark/images/PP_images/interiors/22%20copy.jpg' %}">
    
  </div> 
  <div class="column">
    <img src="{% static 'polsonpark/images/PP_images/interiors/14%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/15%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/16%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/17%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/18%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/15%20copy.jpg' %}">
	 <img src="{% static 'polsonpark/images/PP_images/interiors/12%20copy.jpg' %}">
	  
  </div>
  <div class="column">
   
    <img src="{% static 'polsonpark/images/PP_images/interiors/17%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/18%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/20%20copy.jpg' %}">
    <img src="{% static 'polsonpark/images/PP_images/interiors/21%20copy.jpg' %}">
	  <img src="{% static 'polsonpark/images/PP_images/interiors/13%20copy.jpg' %}">
	  <img src="{% static 'polsonpark/images/PP_images/interiors/23.jpg' %}">
  </div>
</div>
</div>
{% endblock body %}