<header class="clearfix top_nav">
	<hr id="hr_top">
	<!--Nav Barr-->

	<div class="top_nav">
		<ul>
			<h4>
				<li><a href="{% url 'polsonpark:index-page' %}">Home</a></li>
				<li><a href="{% url 'polsonpark:reservations-page' %}">Reservations</a></li>
				<li><a href="{% url 'polsonpark:interiors-page' %}">Interiors</a></li>
				<li><a href="{% url 'polsonpark:packages-page' %}">Packages</a></li>
				<li><a href="{% url 'polsonpark:areaguide-page' %}">Area Guide</a></li>
				<li><a href="{% url 'polsonpark:contactus-page' %}">Contact Us</a></li>
			</h4>
		</ul>
	</div>

	<hr id="hr_bot">	
</header>