/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);



html { height: 100%; max-width: 100%;
    overflow-x: hidden;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: " ";
	clear: both;
}
.logo{
	display: block;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
.clearfix hr{
   
    height: 1px;
    border: 0;
   
	

}
#hr_top{
	padding-bottom: 3px;
	 border-top: 3px solid white;
   margin-top: 0;
    margin-bottom: 0;
}
#hr_bot{
	padding-top: 3px;
	 border-bottom: 3px solid white;
   margin-top: 0rem;
    margin-bottom: 0;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

.top_nav{
width: 100%;
position:sticky;
text-align: center;
list-style: none;
top:0;

background-color:#a1a1cd;
background-color: #a9cdd6;
padding-top: 5px;
padding-bottom: 5px;
z-index: 100000;
}
.top_nav h4{
  margin-bottom: 0;
}
.top_nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.top_nav ul li{
    display:inline-block;
    padding: 10px;
}
.top_nav ul li a{
    color: #1b183e;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
	background-image: url("Use/navhover.jpg"); 
	font-size: 20px;
	border-style: solid;
    border-width: 2px 0px 2px 0px;
}

.top_nav li:hover{
	  transition: 0.5s;
     background-color:#1b183e;
}
.top_nav ul li a:hover {
background-image: url(images/hover.jpg); 
	color: aliceblue;
	border: 0px;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container.demo-1 {
	height: 100%;
	position: absolute;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
	z-index:-1;
}

.container > header,
#content-wrapper {
	padding: 30px;
	width: 80%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	
}

#content-wrapper p{
	
	line-height: 26px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}


/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
	padding-top: 10px;
}

.demo-1 .codrops-demos {
	position: absolute;
	z-index: 2000;
	top: 30px;
	left: 30px;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #333;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #883d59;
	border-color: #883d59;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}


.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.inline-gallery1{
	position: relative;

	
}

.inline-gallery2{
	position: relative;
    

}

.inline-gallery3{
	position: relative;
 

}

.overlay {
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(132, 131, 165, 0.7); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  
	
}
.inline-gallery1:hover .overlay {
  opacity: 1;
}
.inline-gallery2:hover .overlay {
  opacity: 1;
}
.inline-gallery3:hover .overlay {
  opacity: 1;
}
.custom_text{
	color:#8483a5;
	font-size: 1.5em;
}
.manan{
float: right;
margin-left: 10px;
margin-bottom: 10px;
}


#navlist { 
	list-style-image: url(Use/bullet.png);
	margin-left: 50px;
}


footer {
    height:100%;
width: 100%;
font-family: Lato, Helvetica, sans-serif;
font-size: 1.5em;
background-color:#a9cdd6;
color: white;
padding-top: 15px;
padding-bottom: 5px;
clear: both;
margin-left: auto;
    margin-right: auto;
}
footer a{
	color: white;
	
}
.right_footer{;
	float: right;
	display: block;
	padding-bottom: 10px;
	background-color:#a9cdd6;
	margin-left: -300px;
	margin-right: auto;
	padding-left: 900px;
	padding-right: 10px;
	margin-top: -150px;
	width: 100%;
	
}
.right_footer .signup{
	margin-bottom: 50px;
	margin-left: 2px;
	padding: 6px 50px 6px 0;
	
	
}
.right_footer .button_sp{
	background-color: #1b183e;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	
}
.right_footer #divder{
	padding-top: 1000px;
	padding-bottom: 1000px;
}
.right_footer .socialmedia{
	display:inline-block;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.left_footer{
	padding-left: 40px;
	width: 100%;
	background-color:#a9cdd6; 
}
.left_footer .blockf2{
	margin-top: -199px;
	padding-left: 250px;
	
	
	padding-right: 300px;
} 


/*reservations*/

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color:#a9cdd6; /* White text color */
    border-radius: 0 5px 5px 0;
	border-style: solid;
    border-width: 5px;
	border-style: solid;
    border-width: 5px;

	/* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0;
	color: #1b182e;
	border-bottom-color: #1b183e;/* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#About {
    top: 600px;
    background-color: #a9cdd6;
	padding-right: 10px;
	
}

#Contact {
    top: 650px;
    background-color: #a9cdd6; 
	padding-right: 10px;/* Blue */
}
#Location {
    top: 700px;
    background-color: #a9cdd6;
	padding-right: 10px;/* Red */
}

#Room {
    top: 750px;
    background-color: #a9cdd6; 
	padding-right: 10px;/* Light Black */
}
.hero-image{

	height:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	

	

	
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
	font-size: 2em;
}



.top_pic{
	width: 100%;
	height: 50%;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.reservation {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=date],input[type=select] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

label {
  margin-bottom: 10px;
  display: block;
color: #1b183e;
}

.icon-reservation {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color:#a9cdd6;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color:#1b183e;
}



hr {
  border: 1px solid lightgrey;
}



  .col-25 {
    margin-bottom: 20px;
  }
}
input{
	padding: 10px;
}
select{
	padding: :10px;
}
* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

/* Add a background color when the inputs get focus */


/* Set a style for all buttons */
button {
  background-color:#1b183e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */


/* Float cancel and signup buttons and add an equal width */
.cancelbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000000; /* Sit on top */
  left: 100px;
right: 100px;
  top: 100px;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
margin-left: auto;
	margin-right: auto;
	

	
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  padding: 20px;
}

/* Style the horizontal ruler */


/* The Close Button (x) */
.close {
  position: absolute;
  right: 15px;
  top: 45px;
  font-size: 25px;
  font-weight: bold;
  color: #ff0050;
}


.close:hover,
.close:focus {
  color: #1b183e;
  cursor: pointer;
  background-color: 'red';
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}